<div>
    <form [formGroup]="postForm" (ngSubmit)="onAddPost()">
        <div>
            <label>Title</label>
            <input type="text" placeholder="Title" formControlName="title">
            <span *ngIf="!postForm.get('title')?.value">Not valid input</span>
        </div>
        <div>
            <label>description</label>
            <input type="text" placeholder="description" formControlName="description">
            <span>Not valid input</span>
        </div>
        <br>
        <div>
            <button type="submit" [disabled]="!postForm.valid">Add Post</button>
        </div>
    </form>
</div>